@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

body {
    background-color: rgb(69, 83, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    font-family: 'Noto Serif TC', serif;
}


h1 {
    font-size: calc(20px + 2vmin);
    text-align: center;
    color: #fff;
    margin-right:50px;
    margin-left:50px;
    letter-spacing: 3px;
}

#response {
    font-size: calc(12px + 2vmin);
    text-align: center;
    margin-bottom: 20px;
    padding: auto;
    color: #fff;
    margin-right:80px;
    margin-left:80px;
}

input[type="text"] {
    font-family: 'Noto Serif TC', serif;
    color: #2f3842;
    margin-bottom: 10px;
    border-radius: 1000px !important;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: calc(10px + 2vmin);
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px rgb(212,212,212), inset 0 0 0px #476187;
    outline-offset: 0px;
    transition: all 0.7s

}


input:hover {
    box-shadow: 0px 0px 10px rgb(212,212,212), inset 0 0 10px #85c1ff;
    outline-offset: 15px;
}




button {
    box-sizing: border-box;
    width: 200px;
    font-size: calc(15px + 2vmin);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: 0;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: box-shadow 0.1s;
    background-image: linear-gradient(to right,#29323c,#485563,#2b5876,#4e4376);
    box-shadow: 0 4px 15px 0 rgba(45,54,65,0.75);
    font-family: 'Noto Serif TC', serif;
 
}

button:active {
    box-shadow: 0px 0px 10px rgb(212,212,212);

}
