@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;800&display=swap');

body {
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif TC', serif;
    background-image:url("tree.svg");
    background-attachment:fixed;
    background-clip:border-box;
    background-origin:border-box;
    background-position:right bottom;
    background-repeat:no-repeat;
    background-size: 40vmin;
}

#cookie{
    height: 10vh;
}

img{
    height: 100%;
    width: 100%;
}


h1 {
    font-size: calc(8vmin);
    text-align: center;
    color: #fff;
    margin-right:50px;
    margin-left:50px;
    letter-spacing: 3px;
    margin-top:15px;
    margin-bottom: 2vmin;
}

#examrange {
    font-size: calc(5px + 2vmin);
    text-align: center;
    color: #fff;
    margin-right:50px;
    margin-left:50px;
    margin-bottom: 2px ;
    margin-top:10px;
    letter-spacing:1px;
}

#remind {
    font-size: calc(5px + 2vmin);
    text-align: center;
    color: #fff;
    margin-right:50px;
    margin-left:50px;
    margin-bottom: 2px ;
    margin-top:1px;
    letter-spacing:1px;
}

#choices{
    padding-right: 2%;
}

.coldclass{
    display: flex;
}


label{
    font-family: 'Noto Serif TC', serif;
    color: #ffffff;
    letter-spacing:2px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2.5vh;
    padding-left: 20x !important;
}

input[type="radio"]{
    padding-left: 15px;
    margin-top: 2.5vh;
    margin-right: 1vh;
    margin-left: 0.5vh;
    align-self: start;
}


input[type="text"]{
    font-family: 'Noto Serif TC', serif;
    color: #2f3842;
    margin-bottom: 10px;
    border-radius: 1000px !important;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: calc(8px + 2vmin);
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px rgb(212,212,212), inset 0 0 0px #476187;
    outline-offset: 0px;
    transition: all 0.7s;
    text-align: center;
    display: flex;
    flex-direction: column;
}


input[type="text"]:hover {
    box-shadow: 0px 0px 10px rgb(212,212,212), inset 0 0 10px #85c1ff;
    outline-offset: 15px;
}

#submit {
    border-radius: 0px 50px 50px 0px;
    box-sizing: border-box;
    font-size: calc(15px + 2vmin);
    font-weight: 800;
    color: #fff;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #1abc9c;
    background-size: 300% 100%;
    transition: box-shadow 0.1s;
    box-shadow: 0 4px 15px 0 rgba(45,54,65,0.75);
    font-family: 'Noto Serif TC', serif;
    letter-spacing:2px;
    text-align: center;
    background-image: linear-gradient(to right,rgba(26,188,156,0.6),rgba(26,188,156,0.6) 5%,#1abc9c 5%,#1abc9c 10%,rgba(26,188,156,0.6) 10%,rgba(26,188,156,0.6) 15%,#1abc9c 15%,#1abc9c 20%,rgba(26,188,156,0.6) 20%,rgba(26,188,156,0.6) 25%,#1abc9c 25%,#1abc9c 30%,rgba(26,188,156,0.6) 30%,rgba(26,188,156,0.6) 35%,#1abc9c 35%,#1abc9c 40%,rgba(26,188,156,0.6) 40%,rgba(26,188,156,0.6) 45%,#1abc9c 45%,#1abc9c 50%,rgba(26,188,156,0.6) 50%,rgba(26,188,156,0.6) 55%,#1abc9c 55%,#1abc9c 60%,rgba(26,188,156,0.6) 60%,rgba(26,188,156,0.6) 65%,#1abc9c 65%,#1abc9c 70%,rgba(26,188,156,0.6) 70%,rgba(26,188,156,0.6) 75%,#1abc9c 75%,#1abc9c 80%,rgba(26,188,156,0.6) 80%,rgba(26,188,156,0.6) 85%,#1abc9c 85%,#1abc9c 90%,rgba(26,188,156,0.6) 90%,rgba(26,188,156,0.6) 95%,#1abc9c 95%,#1abc9c 100%);
    background-position: 0 0;
    background-size: 110%;
    margin-top: 10px;
}


#next {
    border-radius: 50px 0px 0px 50px;
    box-sizing: border-box;
    font-size: calc(15px + 2vmin);
    font-weight: 800;
    color: #fff;
    padding: 10px 20px 10px 25px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #dd8580;
    transition: box-shadow 0.1s;
    box-shadow: 0 4px 15px 0 rgba(45,54,65,0.75);
    font-family: 'Noto Serif TC', serif;
    letter-spacing:2px;
    text-align: center;
    background-image: linear-gradient(to right,rgba(221,133,128,0.6),rgba(221,133,128,0.6) 5%,#dd8580 5%,#dd8580 10%,rgba(221,133,128,0.6) 10%,rgba(221,133,128,0.6) 15%,#dd8580 15%,#dd8580 20%,rgba(221,133,128,0.6) 20%,rgba(221,133,128,0.6) 25%,#dd8580 25%,#dd8580 30%,rgba(221,133,128,0.6) 30%,rgba(221,133,128,0.6) 35%,#dd8580 35%,#dd8580 40%,rgba(221,133,128,0.6) 40%,rgba(221,133,128,0.6) 45%,#dd8580 45%,#dd8580 50%,rgba(221,133,128,0.6) 50%,rgba(221,133,128,0.6) 55%,#dd8580 55%,#dd8580 60%,rgba(221,133,128,0.6) 60%,rgba(221,133,128,0.6) 65%,#dd8580 65%,#dd8580 70%,rgba(221,133,128,0.6) 70%,rgba(221,133,128,0.6) 75%,#dd8580 75%,#dd8580 80%,rgba(221,133,128,0.6) 80%,rgba(221,133,128,0.6) 85%,#dd8580 85%,#dd8580 90%,rgba(221,133,128,0.6) 90%,rgba(221,133,128,0.6) 95%,#dd8580 95%,#dd8580 100%);
    background-position: 0 0;
    background-size: 120%;
    margin-top: 10px;
}


#submit:active {
    box-shadow: 0px 0px 10px rgb(212,212,212);
}
#next:active {
    box-shadow: 0px 0px 10px rgb(212,212,212);
}

#feedback {
    color: #fff;
    text-align: center;
    font-size: calc(10px + 2vmin);
    padding-left: 15%;
    padding-right: 15%;
}


